@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto&display=swap');

ul {
    list-style: none;
}

footer {
    height: 75px;
    background-color: khaki;
}

footer li {
    display: inline;
    margin: 40px;
}