@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto&display=swap');

/* BODY */

.jumbotron {
    font-size: 120%;
    background-color: khaki;
}

ul {
    list-style: none;
}

.welcome-text {
    font-size: 105%;
    font-style: oblique;
    font-weight: 900;
}


/* FOOTER */

footer {
    height: 75px;
    background-color: khaki;
}

footer li {
    display: inline;
    margin: 40px;
}