@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto&display=swap');



/* HOME SECTION */

.jumbotron-covid {
    font-size: 120%;
    font-weight: bolder;
    background-color: khaki;
}



/* ABOUT SECTION */

.about-us {
    margin: 15px;
}

.emphasized-text {
    font-size: 105%;
    font-style: oblique;
    font-weight: 900;
}



/* MENU SECTION */

.jumbotron-menu {
    background-color: khaki;
}

ul {
    list-style: none;
}

.café-menu {
    margin: 15px;
    margin-top: 30px;
}

.eat-menu {
    margin: 15px;
    margin-bottom: 30px;
}

.drink-menu {
    margin: 15px;
    margin-bottom: 30px;
}



/* CONTACT SECTION */

.contact {
    margin: 15px;
    margin-top: 30px;
}

.contact-hours {
    margin: 15px;
    margin-bottom: 30px;
}

.contact-address {
    margin: 15px;
    margin-bottom: 30px;
}



/* FOOTER */

footer {
    height: 75px;
    background-color: khaki;
}

footer li {
    display: inline;
    margin: 30px;
}